@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	body {
		@apply bg-[#e8e9eb];
	}
}

.container {
	@apply grid w-full place-content-center;
}

.btn {
	@apply m-2 inline-block h-52 w-52 border-[10px] border-black;
}

.game-over {
	@apply bg-red-600 opacity-80;
}

.red {
	@apply bg-red-600 rounded-tr-full;
}

.green {
	@apply bg-green-700 rounded-tl-full;
}

.blue {
	@apply bg-blue-800 rounded-br-full;
}

.yellow {
	@apply bg-yellow-500 rounded-bl-full;
}

.pressed {
	@apply bg-gray-500 shadow-sm shadow-white;
}

.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
}

.side {
	transition: all 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 0.3rem;
	overflow: hidden;
	box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.4);
}

.front {
	transform: rotateY(180deg);
}

.front--active {
	transform: rotateY(0);
}

.back--active {
	transform: rotateY(-180deg);
}
